SUBSYSTEMS=="usb", ATTRS{idVendor}=="5453", ATTRS{idProduct}=="e408", GROUP="david", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="5453", ATTRS{idProduct}=="e404", GROUP="david", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="5453", ATTRS{idProduct}=="6404", GROUP="david", MODE="0666"
